In [20]:
#import bin-encoding data
import pandas as pd
import numpy as np
import scipy.stats as stats
import sklearn
import random
import os
from pathlib import Path
from sklearn.linear_model import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import average_precision_score, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report 
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
def LoadData(filename):
    DATA_DIR = "Data"
    ENCODING_DIR = os.path.join(DATA_DIR, filename)
    data = pd.read_csv(ENCODING_DIR, index_col=[0])
    return data

In [33]:
def pairup(Csim, npV, rows, X,Y):
    for i in range(rows):
        #find most related articles indexed
        a = npV[i,:]
        index = np.argpartition(a, -4)[-4:]
        index2= index[np.argsort(a[index])]

        #show the index in X matrix
        print(i)
        print(index)
        print(index2)
        #show the similarity value
        print(a[index2])

        related = []
        #ensure that same article is not ranked as the most similar article
        for j in range(3,-1,-1):
            if i == index2[j]:
                pass #do not count the same article as most related
            elif len(related) == 3:
                pass
            else:
                related.append(str(X.iloc[index2[j]]['article_id']))

        Y.at[i, 'related_articles'] = ', '.join(related)

    Final = Y[['article_id', 'related_articles']]

    return Final

0
[17  5  1  0]
[17  5  1  0]
[0.32444284 1.         1.         1.        ]
1
[17  5  1  0]
[17  5  1  0]
[0.32444284 1.         1.         1.        ]
2
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
3
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
4
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
5
[17  5  1  0]
[17  5  1  0]
[0.32444284 1.         1.         1.        ]
6
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
7
[ 0 12  7  8]
[ 0 12  7  8]
[0.22941573 0.70710678 1.         1.        ]
8
[ 0 12  7  8]
[ 0 12  7  8]
[0.22941573 0.70710678 1.         1.        ]
9
[1 5 9 0]
[1 5 0 9]
[0.22941573 0.22941573 0.22941573 1.        ]
10
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
11
[ 1 16 11  0]
[ 1  0 16 11]
[0.22941573 0.22941573 1.         1.        ]
12
[ 0  7 12  8]
[ 0  7  8 12]
[0.32444284 0.70710678 0.70710678 1.        ]
13
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
14
[ 1  5 14  0]
[ 1  5  0 14]
[0.22941573 0.22941573 0.22941573 1.        ]
15
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]
16
[ 1 16 11  0]
[ 1  0 16 11]
[0.22941573 0.22941573 1.         1.        ]
17
[ 5  0 18 17]
[ 5  0 18 17]
[0.32444284 0.32444284 0.70710678 1.        ]
18
[ 5  0 17 18]
[ 5  0 17 18]
[0.22941573 0.22941573 0.70710678 1.        ]
19
[ 5  1 19  0]
[ 5  1  0 19]
[0.22941573 0.22941573 0.22941573 1.        ]
20
[ 7  9  8 20]
[ 7  9  8 20]
[0. 0. 0. 0.]

In [23]:
def recommender(Encoding, contextoutput):
    X = LoadData(Encoding)
    Temp = X.drop(columns=['article_id'])
    
    #Similarity matrix between each article
    Csim = cosine_similarity(Temp)

    #convert to numpy
    npV = np.asarray(Csim)
    rows = np.size(npV,0)
    
    #set a temporary copy
    Y = X
    
    #match most related articles by article index
    finalMatches = pairup(Csim, npV, rows, X,Y)
    
    contextTable = LoadData(contextoutput)
    finalTable = contextTable.merge(finalMatches, on='article_id', how='left')
    return finalTable

,target,company,central,retailer,inflation,stores,bank,child,commerce,online,...,advises,softer,reported,homeless,lining,liberal,marketplace,gartner,indonesian,article_id
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,125
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,69
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,162
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,49

In [34]:
Final.head(20)

    article_id related_articles
0          125      69, 22, 114
1           69     125, 22, 114
2           32       16, 94, 58
3          162       16, 94, 58
4           49       16, 94, 58
5           22     125, 69, 114
6           36       16, 94, 58
7           99      94, 89, 125
8           94      99, 89, 125
9           58      125, 22, 69
10         134       16, 94, 58
11         153     113, 125, 69
12          89      94, 99, 125
13          43       16, 94, 58
14         131      125, 22, 69
15          72       16, 94, 58
16         113     153, 125, 69
17         114     133, 125, 22
18         133     114, 125, 22
19         100      125, 69, 22